[Unit]
Description=Registers ec2 instance hostname with Route53
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/ec2hostname
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/ec2hostname start
ExecReload=/usr/local/sbin/ec2hostname restart
ExecStop=/usr/local/sbin/ec2hostname stop

[Install]
WantedBy=multi-user.target
